<div id="copyright">
  <ul>
    <li>&copy; Pacific Research Platform</li><li>Design: <a href="https://qi.ucsd.edu">PRP Design Team</a>
      <a href="{{site.gitlab}}" class="icon fa-github" rel="nofollow"><span class="label">PRP</span></a></li>
  </ul> 
</div>
