<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  </head>
  <body class="is-loading">
    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
      <!-- Header -->
      <header id="submain">
        {% if page.siteimage %}
          <img src="/images/{{page.siteimage}}">
        {% else %}
            <p><br></p>
        {% endif %}
      </header>
      <!-- Nav -->
      <nav id="nav">{% include nav.html %}</nav>
      <!-- Main -->
      <div id="main">{{ content }}</div>
    </div>
    <!-- Footer -->
    {% include foot.html %}
    {% include copyright.html %}
    <!-- Scripts -->
    {% include scripts-main.html %}
  </body>
</html>

