---
layout: default
---

<header class="post-header">
    <h2 class="post-title" style="padding-bottom: 1rem">{{ page.title }}</h2>
  </header>

<table class="">
  {% for service in site[page.short] reversed %}
    {% if service.categories[0] == "news" %}
      <tr>
        <td>
           <span class="dates">{{ service.date | date: '%B %d, %Y'  }}</span>
           <span class="smalltitle">&nbsp;&nbsp;&nbsp;{{ service.title }}</span>
        </td>
      </tr>
      <tr>
        <td>
           {% if service.imagesrc %}
             <span class="image left"><img src="/images/news/{{service.imagesrc}}" alt=""/></span>
           {% endif %}
           <p> {{service.content}}</p> 
        </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>

<p><a href="{{ page.url }}" class="button"> Back to top </a> </p>
