<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
      <style>
           img {
           width: 75%;
           height: auto;
}
</style>
  </head>
  <body class="is-loading">
    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
      <!-- Intro -->
      <div id="intro" class=""
           style="padding-top: 0rem;">
        <img src="images/peearrpeee.png">
        <h2>The Pacific Research Platform</h2>
        <p>The PRP is a partnership of more than 50 institutions, led by researchers at UC San Diego and UC Berkeley and includes
            the National Science Foundation, Department of Energy, and multiple research universities in the US and around the world. The PRP builds on the optical
            backbone of Pacific Wave, a joint project of CENIC and the Pacific Northwest GigaPOP (PNWGP) to create a seamless research platform that encourages
            collaboration on a broad range of data-intensive fields and projects. <br>
        </p>
        <ul class="actions" style="margin-bottom: 0px;">
          <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
      </div>
      <!-- Header -->
      <header id="header"> <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a> </header>
      <!-- Nav -->
      <nav id="nav"> {% include nav.html %} </nav>
      <!-- Main -->
      <div id="main"> {{ content }} </div>
    </div>
    <!-- Footer -->
    {% include foot.html %}
    {% include copyright.html %}
    <!-- Scripts -->
    {% include scripts-main.html %}
  </body>
</html>

